<div class="animated bounceInUp l-container">
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/81d7c3d7086dd2365d06792a2f732ba6.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/e722740bb91c5694c21f2c3a5b05b131.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/85b2386ab4a0feeb2c08dab68514df25.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/1b9cda363c0eae41d933c0ac99cb355a.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/9fd6b74ffaf18102f326484be5e00d4a.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/e087c1470c8d013f84bb9a0c73fb4aca.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/abd673b91e4bb9c556da84c6f6f5d470.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/379ab0615d0a2f2efc9a82340d0d706b.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/c657e07ead9480e0b06275488953ea24.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/22b87102066d463d79d7758463220299.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/7f8d79e1bfaa36d8cd59830d559c5df3.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/e5d92a2e54823d1c5a10f082d62a5451.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/021399af062379408df9c358a1a83cdb.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/d18c832e8c956b4ef8b92862e6bf470d.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/56c50dde3197cf5381d18bc4345e5f1b.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/9aeeadc118ff7a6797e7b28f39e8d4d1.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/8bf88c8b94582f3dc62dbd89f00c20b6.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/771dd529ffdd3fda1a93ad0659a99bba.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/5d4acfa10303c58039e94acd803e9482.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/1c7877be20abcbd096a7d3e0c9e45e0e.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/a72f7281b4d7cd59e1fa572109f5a651.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/71d6cb0ed789b5e4364f303556dd0ca0.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/f0b8024455e6c0cb3ab7495325afee5c.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/ab704bd383ad12c1e7f6bcaa0da165b0.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/1d5f36370c7ddcd55c96c2fb6bd11ead.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/82473840ac20e0aaecf29c79b1ae8477.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/955ae0c84845908d3b53f191436ec1f1.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/bd0027406f48f714d12dc1de747133cf.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/92a4d8e6937cb8dd6f5d65b53d16c1be.png);
      "
    ></div>
  </div>
  <div class="b-game-card">
    <div
      class="b-game-card__cover"
      style="
        background-image: url(https://cdn.steamgriddb.com/grid/3a96a1164364c063f40ce33aaf971783.png);
      "
    ></div>
  </div>
</div>
